.multi-level-dropdown:hover > .dropdown-menu{
    display: block;
}

.multi-level-dropdown .dropdown-menu{
    position: absolute;
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: 0;
    display: none;
    border-radius: 0;
    border: 1px solid #051729;
}

#main-nav-dropdown .dropdown-menu{
    display: block;   
}

#main-nav-dropdown .multi-level-dropdown:hover > .dropdown-menu{
    display: block;
}

